/app/cache/*
/app/logs/*
/app/config/config_dev.yml
/nbproject/*
/web/bundles/
/vendor/
/bin/
/app/bootstrap*
/app/config/parameters.yml
/secure
/.idea/
*.rdb
/var/gameConfigs
/var/twig
!/var/twig/.gitkeep
/var/config.php
/var/consoleconfig.php
/composer.lock
/configs/local.yml
/configs/templates_settings.yml
/configs/general.yml
/configs/game_settings.yml
/web/.htaccess
/var/webconfig.php
/composer.lock

